# IntelliJ
.idea/gradle.xml
.idea/shelf
*.ipr
*.iml
*.iws

# OSX
.DS_Store

# Node
node_modules

# Other
build
out
venv

# Logs
log
*.log

# Typescript compilation
tsconfig.tsbuildinfo

# Generated Code
*.generated.ts

# Generated Refactoring Code
/tsconfig.json

app/web/next.config.js

packages/bundle/package.json

packages/augmentation/*/jest.config.js
packages/augmentation/*/package.json
packages/augmentation/*/tsconfig.json
packages/augmentation/*/test/*.spec.test.ts

packages/code-assist/*/jest.config.js
packages/code-assist/*/package.json
packages/code-assist/*/tsconfig.json
packages/code-assist/*/test/*.spec.test.ts

lib-kotlin/scan-runner/script/export-code-assists.sh